.Dishes {
    width: 90%;
    margin: 10px;
    align-self: center;
    border: 1px solid rgba(206, 51, 255, 0.5);;
    border-radius: 10px;
    box-sizing: border-box;
}

.Title {
    font-size: 30px;
    margin: 10px;
}