.Button {
    margin: 10px;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;
}

.Add {
    background-color: rgba(206, 51, 255, 0.5);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.Add::after {
    color: white;
    content: '+';
}

.Add:hover:enabled {
    box-shadow: 0 0 5px rgba(206, 51, 255, 0.5);
}

.Add:disabled {
    background-color: rgba(128, 128, 128, 0.5);
}

.DeleteDish {
    background-color: rgba(206, 51, 255, 0.5);
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.DeleteDish::after {
    color: white;
    content: '-';
}

.DeleteDish:hover:enabled {
    box-shadow: 0 0 5px rgba(206, 51, 255, 0.5);
}

.Success {
    border: none;
    color: #6CC04F;
}

.Success:hover:enabled {
    box-shadow: 0 0 5px #6CC04F;
}

.Success:disabled {
    color: gray;
}

.Cancel {
    border: none;
    color: #C0854F;
}

.Cancel:hover {
    box-shadow: 0 0 5px #C0854F;
}