.Input {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5px;
}

.Input label {
    align-self: inherit;
    font-weight: bold;
}

.Element {
    align-self: flex-start;
    width: 100%;
    height: 20px;
}

.Element:focus,.TextArea:focus {
    outline: none !important;
    box-shadow: 0 0 2px #CE33FF;
}

.TextArea {
    align-self: flex-start;
    width: 100%;
    resize: none;
    height: 8em;
}

.Invalid {
    outline: none !important;
    box-shadow: 0 0 2px red;
}