.Menu {
    display: flex;
    flex-direction: column;
    background: rgba(206, 51, 255, 0.04);
    margin: 20px auto;
    padding: 10px;
    align-items: center;
    width: 80%;
}

.ButtonSection {
    display: flex;
}