.Login {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgba(206, 51, 255, 0.1);
    align-items: center;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px rgba(206, 51, 255, 0.3);;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}