.NavItem {
    text-align: center;
    margin: auto;
    padding: 0 20px;
}

.NavItem a {
    color: white;
    font-weight: bold;
}

.NavItem a.active {
    text-decoration: underline;
}

.NavItem a:hover {
    text-decoration: underline;
}